name: "my first pipeline"

on: workflow_dispatch

permissions:
  contents: read
  packages: read
  # To report GitHub Actions status checks
  statuses: write
  
jobs:
  scanjob:
    runs-on: ubuntu-latest
    name: Scan job
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 16.x
        
    - name: Super-Linter 
      uses: super-linter/super-linter@v7.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_CSS: true
        VALIDATE_JAVASCRIPT_ES: true
        VALIDATE_JSON: true


  build:
    runs-on: ubuntu-latest
    name: Setup Nodejs & Application Build
    steps:
    - name: checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0  
      with:
        node-version: 16.x
        
    - name: install dependency
      run: npm install

    - name: build artifact
      run: npm run build

    - name: Publish Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: reactTodoUI
        path: build
      
  releasejob:
    runs-on: ubuntu-latest
    name: Release
    steps:
    - name: checkout
      uses: actions/checkout@v6.0.1   
      
    - name: Download a Build Artifact
      uses: actions/download-artifact@v7.0.0
      with:
        name: reactTodoUI
        
      
       
        
